body {
    color: #181C14;
    background-color: #ECDFCC;
}

header {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #697565;
    
}

.logo {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}

footer {
    position: fixed;
    height: 80px;
    width: 100%;
    bottom: 0;
    background-color: #697565;
}