@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    scroll-padding-top: 80px;
}

#page-container {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ECDFCC;
    color: #181C14;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: #257;
    color: #ECDFCC;
}

#logo {
    margin-left: 3rem;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.navbar a {
    padding: 0.8rem;
    font-size: 18px;
    text-decoration: none;
    color: #ECDFCC;
}

.navbar a:hover {
    color: #bdb2a1;
}

.navbar a.active {
    font-weight: 600;
    color: #faae3e;
}

.internal-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
}

.internal-navigation a {
    padding: 0.5rem;
    border: 2px solid #181C14;
    border-radius: 30px;
    font-size: 18px;
    text-decoration: none;
    color: #181C14;
}

.internal-navigation a:hover {
    border: 2px solid #a4100b;
    background-color: #e9d7bd;
    color: #a4100b;
}

main {
    flex: 1;
    padding: 2rem 3rem;
}

main p {
    font-size: 18px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #257;
    color: #ECDFCC;
}

@media screen and (max-width: 768px) {
    .internal-navigation {
        flex-direction: column;
    }
}