.article-heading {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

tr {
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 12px 15px;
}

h2 {
    background: linear-gradient(120deg, #2980B9, #8E43AD, #1CA085);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.multicol {
    column-count: 2;
    column-width: auto;
}
@media screen and (max-width: 540px) {
    .multicol {
        column-count: 1;
        column-width: auto;
    }
}


.grid-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-x:auto;
}
.grid-images img {
    width: 350px;
    justify-self: center;
}