* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

/* Title and title picture */

#page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-header h1 {
    font-size: 3rem;
}


.section-header {
    font-size: 2rem;
    text-align: center;
}

article {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
/* In-page navigation styling */

#in-page-nav {
    background-color: black;
    padding: 1rem 0 1rem 0;
    margin: 2rem 0 2rem 0;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
}

.nav-header {
    color: red;
    text-align: center;
}
ul {
    display: flex;
    justify-content: space-evenly;
}

a {
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
/* About section styling */

.about-text {
    column-count: 2;
    column-gap: 2rem;
    break-inside: avoid;
}

.about-text>p {
    margin-top: 0;
}

/* trying to float images. Come back to this later */
#history {
    float: left;
}
img {
    float: right;
    clear: right;
}

/* Stats section styling */

#data {
    text-align: center;
}
table {
    margin: auto;
    width: 75vw;
    text-align: center;
    font-size: 2rem;
    border: 5px solid black;
    border-radius: 1rem;
    background-color: red;
    
}

td {
    font-weight: bold;
    color: white;
}

/* Top Player Section */

#player-container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.player {
    background-color: black;
    margin: 20px;
    color: white;
    border-radius: 1rem;
}

h3 {
    font-size: 3rem;
    margin: 0.5rem;
}

/* Acknowledgements section */

#acknowledgements {
    text-align: center;
}

/* Media queries for responsiveness */

@media (min-width: 700px) and (max-width: 1000px) {
    #player-container {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 700px) {
    #player-container {
        grid-template-columns: auto;
    }
}