
body {
    margin: 0;
}

/* Title and title picture */

#page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-header h1 {
    font-size: 3rem;
}


.section-header {
    font-size: 2rem;
    text-align: center;
}


.about-text {
    column-count: 2;
    column-gap: 2rem;
    break-inside: avoid;
}

.about-text>p {
    margin-top: 0;
}

/* Stats section styling */

#data {
    text-align: center;
}
table {
    margin: auto;
    width: 75vw;
    text-align: center;
    font-size: 2rem;
    border: 5px solid black;
    border-radius: 1rem;
    background-color: red;
    
}

td {
    font-weight: bold;
    color: white;
}

/* Top Player Section */

#player-container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.player {
    background-color: black;
    margin: 20px;
    color: white;
    border-radius: 1rem;
}

h3 {
    font-size: 3rem;
    margin: 0.5rem;
}

/* Acknowledgements section */

#acknowledgements {
    text-align: center;
}