
body {
    margin: 0;
}

#page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-header h1 {
    font-size: 3rem;
}

.section-header {
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
}
#data {
    text-align: center;
}
table {
    margin: auto;
    width: 75vw;
    text-align: center;
    font-size: 2rem;
    border: 5px solid black;
    border-radius: 1rem;
    background-color: red;
    
}

td {
    font-weight: bold;
    color: white;
}
