.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

p {
    text-indent: 2rem;
    font-size: 12px;
}

.multicol {
    column-count: 2;
    column-width: auto;
}

.title {
    align-items: center;
    justify-content: center;
    display: flex;
}

h3 {
    padding-bottom: 0.6rem;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 300px;
    border: solid black 1px;
    border-radius: 10px;
}

thead tr {
    background-color: #257;
    color: #ECDFCC
}

tr {
    border: 1px solid black;
}

td {
    border-top: none;
}

td:first-child, th:first-child {
    border-left: none;
}

td, th {
    border-left: solid black 1px;
    border-top: solid black 1px;
    padding: 12px 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
}

.grid-container img {
    width: 75px;
    height: 75px;
    justify-self: center;
    align-self: center;
}

.grid-item {
    padding: 50px;
    text-align: center;  
}

.clock {
    justify-self: center;
    text-align: center;
}

@media screen and (max-width: 540px) {
    .multicol {
        column-count: 1;
    }

    main {
        padding: 2rem 0.5rem;
    }
}