.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

p {
    text-indent: 2rem;
}

.title {
    align-items: center;
    justify-content: center;
    display: flex;
}

h3 {
    padding-bottom: 0.5rem;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 300px;
    border: solid black 1px;
    border-radius: 10px;
}

thead tr {
    background-color: #257;
    color: #ECDFCC
}

tr {
    border: 1px solid black;
}

th {
    padding: 12px 15px;
    border-top: none;
}

td {
    padding: 12px 15px;
}

td:first-child, th:first-child {
    border-left: none;
}

td, th {
    border-left: solid black 1px;
    border-top: solid black 1px;
}

.clock {
    text-align: center;
}