@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body {
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ECDFCC;
    color: #181C14;
}

#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: #257;
}

#logo {
    margin-left: 1rem;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ECDFCC;
}

.navbar a {
    padding: 1.5rem;
    font-size: 18px;
    text-decoration: none;
    color: #ECDFCC;   
}

.navbar a:hover {
    color: #cec3b2
}

.navbar a:active {
    font-weight: 600;
    color: #d4b383;
}

.active {
    font-weight: 600;
    color: #d4b383;
}

main {
    flex: 1;
    padding: 2rem 5rem;
}

footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #257;
    color: #ECDFCC; 
}

name {
   display: flex;
   justify-content: right;
   align-items: center;
   bottom: 0;
   background-color: #257;
   color: #ECDFCC;
}